[Unit]
Description=A testing daemon for EFL development

[Service]
ExecStart=/tmp/efl_test/efl_test_daemon
SuccessExitStatus=203

[Install]
WantedBy=multi-user.target

